#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
}

.card {
  min-width: 250px;
  height: 100vh;
  background-color: #00000054;
  padding: 2em;
}

.container {
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.file-header {
  padding: 0 5px 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.file-header:hover {
  background-color: #41414154;
}

.file-folder {
  display: flex;
  gap: 10px;
}

.file-folder > span:hover {
  scale: 1.15;
}
